body {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	
}
.borda {
border-radius: 10px;
border: 1px solid;
border: 1px #CCCCCC inset;
} 

.informacao, .successo, .aviso, .erro, .validacao, .twitter {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;
}
.informacao {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../imagens/info.png');
 	background-position: 10px 15px;
}
.twitter {
    color: #00529B;
    background-color: #ffffff;
    background-image: url('../imagens/logo_twitter.jpg');
 	background-position: 10px 15px;
   padding:5px 10px 15px 80px;
}
.successo {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../imagens/success.png');
	font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;
}
.aviso {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../imagens/warning.png');
	font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;
}
.erro {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../imagens/error.png');
	font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;
	font-color:#FFFFFF;
}
input.invalid {
	background-color: #FF9;
	border: 2px red inset;
}
.botao_fipe{
      background:url(../imagens/botao_fipe.jpg) ;
      width: 240px;
      height: 45px;
      color:white;
	  cursor: pointer;
	  border-width:0px;
}
.button {
    background-color:#F08D34;
    background-repeat:repeat-x;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#F08D34), to(#D46E11));
    background-image:-moz-linear-gradient(top, #F08D34, #F08D34);
    background-image:-ms-linear-gradient(top, #F08D34, #F08D34);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #F08D34), color-stop(100%, #D46E11));
    background-image:-webkit-linear-gradient(top, #F08D34, #D46E11);
    background-image:-o-linear-gradient(top, #F08D34, #D46E11);
    background-image:linear-gradient(top, #F08D34, #D46E11);
    
    border:1px solid #F08D34;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    
    color:#ffffff;
    cursor:pointer;
    display:block;
    float:left;
    font-size:17px;
    line-height:normal;
    padding:10px 15px;
    text-align:center;
    text-decoration:none;
    text-shadow:0 -1px #444444;
    
    transition:0.2s linear all;
    -webkit-transition:0.2s linear all;
    -moz-transition:0.2s linear all;
    -ms-transition:0.2s linear all;
    -o-transition:0.2s linear all;
}

.button_upload {
    background-repeat:repeat-x;
    
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    
    color:#000000;
    cursor:pointer;
    display:block;
    float:left;
    font-size:13px;
    line-height:normal;
    padding:10px 16px;
    text-align:center;
    text-decoration:none;
    text-shadow:0 -1px #444444;
    
    transition:0.2s linear all;
    -webkit-transition:0.2s linear all;
    -moz-transition:0.2s linear all;
    -ms-transition:0.2s linear all;
    -o-transition:0.2s linear all;
}

.button:hover {
    background-position:0 -15px;
    text-decoration:none;
}

.button:active {
    box-shadow:inset 0 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:inset 0 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:inset 0 2px 2px rgba(0, 0, 0, 0.25);
}

.button span {
    display:block;
    font-size:14px;
    font-style:italic;
}

.button.download {
    color:#fff;
    margin:0 20px 30px 0;
}

.button.download:hover {
    color:#fff;
}

.button.gray {
    background-color: #E87C1A;
    background-repeat: no-repeat;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#f2f2f2), to(#FFFFFF));
    background-image:-moz-linear-gradient(top, #E87C1A, #dcdcdc);
    background-image:-ms-linear-gradient(top, #E87C1A, #dcdcdc);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FFFFFF));
    background-image:-webkit-linear-gradient(top, #E87C1A, #FFFFFF);
    background-image:-o-linear-gradient(top, #E87C1A, #FFFFFF);
    background-image:linear-gradient(top, #E87C1A, #FFFFFF);
    border:1px solid #444;
    color:#444;
    font-size:14px;
    font-weight:bold;
    text-shadow:0px -1px #FFF;
	
}
label.invalid {
	color: #F00;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
select { 
  -webkit-appearance: button; 
  -webkit-border-radius: 2px; 
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); 
  -webkit-padding-end: 20px; 
  -webkit-padding-start: 2px; 
  -webkit-user-select: none; 
  background-image: url(../imagens/arrow.jpg),-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5); 
  background-position: center right; 
  background-repeat: no-repeat;  
  border: 1px solid #AAA; 
  color: #555; 
  font-size: inherit; 
  margin: 0; 
  overflow: hidden; 
  padding-top: 2px; 
  padding-bottom: 2px; 
  text-overflow: ellipsis; 
  white-space: nowrap;
} 
.formulario { 
  border: 1px solid #AAA; 
  color: #555; 
  font-size: 15px; 
  margin: 0; 
  padding-top: 2px; 
  padding-bottom: 2px; 
  height:17px;
} 
.formulario_linhas { 
  border: 1px solid #AAA; 
  color: #555; 
  font-size: 15px; 
  margin: 0; 
  padding-top: 2px; 
  padding-bottom: 2px; 
} 
required { 
  -webkit-appearance: button; 
  -webkit-border-radius: 2px; 
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); 
  -webkit-padding-end: 20px; 
  -webkit-padding-start: 2px; 
  -webkit-user-select: none; 
  border: 1px solid #AAA; 
  color: #555; 
  font-size: inherit; 
  margin: 0; 
  overflow: hidden; 
  padding-top: 2px; 
  padding-bottom: 2px; 
  text-overflow: ellipsis; 
  white-space: nowrap;
} 

.fonte {
	font-family: "Arial";
	font-size: 15px;
	color: #000000;
	list-style-type: square;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
} 
h2 { 
font-family: "Arial";
	font-size: 15px;
	color: #000000;
	list-style-type: square;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
	font-weight: normal; 
}
h3 { 
font-family: "Arial";
	font-size: 13px;
	color: #000000;
	list-style-type: square;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
	font-weight: bold; 
}
.fonte_proposta {
	font-family: "Arial";
	font-size: 12px;
	color: #000000;
	list-style-type: square;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
} 
.fonte_veiculo{
	font-family: "Arial";
	font-size: 12px;
	color: #0270C8;
	list-style-type: square;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
}
.fonte_recomendado{
	font-family: "Arial";
	font-size: 11px;
	color: #0270C8;
	list-style-type: square;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
}
.fonte_titulo_grande{
	font-family: "Arial";
	font-size: 20px;
	font-weight:bold;
	color: #EA8010;
	list-style-type: square;
	font-style: oblique;
	text-decoration: none;
	line-height: normal;
}
.fonte_titulo_preto{
	font-family: "Arial";
	font-size: 25px;
	font-weight:bold;
	color: #000000;
	list-style-type: square;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
}
.fonte_titulo_medio_preto{
	font-family: "Arial";
	font-size: 16px;
	font-weight:bold;
	color: #000000;
	list-style-type: square;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
}
.fonte_titulo_medio{
	font-family: "Arial";
	font-size: 15px;
	font-weight:bold;
	color: #EA8010;
	list-style-type: square;
	font-style: oblique;
	text-decoration: none;
	line-height: normal;
}
.fonte_titulo_proposta{
	font-family: "Arial";
	font-size: 22px;
	font-weight:bold;
	color: #EA8010;
	list-style-type: square;
	text-decoration: none;
	line-height: normal;
}
.bubble {
  position: relative;
  background-color:#eee;
  margin: 0;
  padding:10px;
  text-align:center;
  width:180px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25); 
}
.bubble:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: #eee transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
  left:1em;
}

.fonte_preco{
	font-family: "Arial";
	font-size: 16px;
	color: #5FA81E;
	list-style-type: square;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
}
.fonte_estoque{
	font-family: "Arial";
	font-size: 13px;
	color: #5FA81E;
	list-style-type: square;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
}
.fonte_menor{
	font-family: "Arial";
	font-size: 11px;
	color: #000000;
	list-style-type: square;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
}
.fonte_menor_branca{
	font-family: "Arial";
	font-size: 11px;
	color: #FFFFFF;
	list-style-type: square;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
}
.fonte_media{
	font-family: "Arial";
	font-size: 13px;
	color: #000000;
	list-style-type: square;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
}
.fonte_titulo_oferta{
	font-family: "Trebuchet MS";
	font-size: 15px;
	color: #ffffff;
	list-style-type: square;
	font-style: normal;
	font-weight:bold;
	text-decoration: none;
	line-height: normal;
}
/*MENU SITE*/

#menu {
	list-style:none;
	width:915px;
	margin:30px auto 0px auto;
	height:43px;
	padding:0px 20px 0px 20px;
	/* Rounded Corners */
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	/* Background color and gradients */
	background: url(../imagens/backMenu.jpg);
	border-bottom:3px solid #36771A;
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}


#menu li {
	float:left;
	display:block;
	text-align:center;
	position: relative;
	padding: 4px 10px 4px 10px;
	margin-right:1px;
	margin-top:7px;
	border:none;
}

#menu li:hover {
	border: 1px solid #777777;
	padding: 4px 9px 4px 9px;
	
	/* Background color and gradients */
	
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
	
	/* Rounded corners */
	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

#menu li a {
	font:bold 13px Arial, Helvetica, sans-serif; 
	color: #EEEEEE;
	display:block;
	outline:0;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;
}

#menu li:hover a {
	color:#161616;
	text-shadow: 1px 1px 1px #ffffff;
}
#menu li .drop {
	padding-right:21px;
}
#menu li:hover .drop {
}

.quebra { 
    white-space: pre;           /* CSS 2.0 */ 
    white-space: pre-wrap;      /* CSS 2.1 */ 
    white-space: pre-line;      /* CSS 3.0 */ 
    white-space: -pre-wrap;     /* Opera 4-6 */ 
    white-space: -o-pre-wrap;   /* Opera 7 */ 
    white-space: -moz-pre-wrap; /* Mozilla */ 
    white-space: -hp-pre-wrap;  /* HP Printers */ 
    word-wrap: break-word;      /* IE 5+ */ 
} 
.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns 
{
 	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 5px 5px;
	border:1px solid #777777;
	border-top:none;
	
	/* Gradient background */
	background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 415px;}
.dropdown_5columns {width: 700px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
	left:-1px;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:410px;}
.col_5 {width:690px;}

#menu .menu_right 
{
    position:absolute;
    z-index: 20px;
   	float:right;
	margin-right:0px;
}
#menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:12px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}

#menu li:hover div a {
	font-size:12px;
	color:#015b86;
}
#menu li:hover div a:hover {
	color:#029feb;
}


.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.../imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.../img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}


.txtboxborder
{
    border: 1px solid #999999;
}
/*FIM MENU SITE*/


}

a {color:#333; text-decoration:none}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
#boxes .telefone {
  position:fixed;
  left:0;
  top:0;
  width:540px;
  height:500px;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #dialog {
  width:575px; 
  height:303px;
  padding:10px;
  background-color:#ffffff;
}

#boxes #dialog1 {
  width:375px; 
  height:203px;
}

#dialog1 .d-header {
  background:url(images/login-header.png) no-repeat 0 0 transparent; 
  width:375px; 
  height:150px;
}

#dialog1 .d-header input {
  position:relative;
  top:60px;
  left:100px;
  border:3px solid #cccccc;
  height:22px;
  width:200px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}

#dialog1 .d-blank {
  float:left;
  background:url(images/login-blank.png) no-repeat 0 0 transparent; 
  width:267px; 
  height:53px;
}

#dialog1 .d-login {
  float:left;
  width:108px; 
  height:53px;
}

#boxes #dialog2 {
  background:url(images/notice.png) no-repeat 0 0 transparent; 
  width:326px; 
  height:229px;
  padding:50px 0 20px 25px;
}

#pages {
padding: 0px;
font-size:12px;
}
#pages ul {
 list-style-type: none;
}
#pages li {
float: left;        
display: inline;        
margin: 0 5px 0 0;        
display: block;
position:relative;
 left:-35px;
}
#pages li a {
color: #EA8010;        
padding: 4px;        
border: 1px 
solid #ccdbe4;        
text-decoration: none;        
float: left;
}
#pages li a:hover 
{       
color: #fff;        
background-color: #EA8010;        
border: 1px solid #EA8010;
}
#pages li.nolink {        
color: #fff;        
border: 1px solid #EA8010;        
padding: 4px;
}
#pages li.current a {             
color: #fff;        
background-color: #EA8010;        
}
.rotate {
list-style:none;
    float:left;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
	-ms-transform: rotate(-90deg);
	font-size:10px;
	font-stretch: extra-expanded;
	width:5px;
	font-family: Georgia;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 5px;
	font-weight:bold;
}
.Cidade {
color: #gray;
font-weight: bold;
}
.tip {
    color: #fff;
    background:#7BB02E;
    display:none; /*--Hides by default--*/
    padding:10px;
    position:absolute;    z-index:1000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
}

		.box1 {
			background-color: #f0f0f0;
			width: 740px;
			margin: 0 auto 15px auto;
			padding: 20px 35px;
			border: 1px solid #d7d7d7;

			-moz-border-radius: 11px;
			-webkit-border-radius: 11px;
			border-radius: 11px;
		}
		.box2 {
			background: transparent url(ashera.jpg); no-repeat top left;
			width: 934px;
			height: 77px;
			margin: 0 auto 15px auto;
			padding: 15px;
			border: 1px solid #c6ac6c;
			position: relative;
			margin-top: 13px;
			overflow:auto;

			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;
			border-radius: 8px;

			z-index: 2;

		}

		/* The script works with absolutely positioned elements too */
		.box3 {
			background-color: #ddd;
			width: 110px;
			height: 25px;
			padding: 20px;
			position: absolute;
			top: 1px; left: 1px;
			text-align: center;
			font-weight: bold;

			-moz-border-radius: 15px;
			-webkit-border-radius: 15px;
			border-radius: 15px;

			-moz-box-shadow: 10px 10px 20px #000;
			-webkit-box-shadow: 10px 10px 10px #000;
			box-shadow: 10px 10px 20px #000;
		}

		.box2 div {
			position: absolute;
			bottom: 50px;
			left: 0px;
			width: 100%;
			text-align: center;
			font-weight: bold;
			font-size: 13pt;
			color: #ffd550;
			_bottom: 21px; /* IE6 */
			_width: 108%; /* IE6 */
			/* IE6 workarounds are ugly, I know. Just feeling lazy right now... */
		}

		.rel {
			margin: 30px 0 0 33px;
			padding: 0;
			position: relative;
			zoom: 1; /* IE6 */
		}

		code {
			padding: 0 2ex;
			background: #fff;
			border: 1px solid grey;
			white-space: nowrap;
		}

.borderit img{
border: 2px solid #ccc;
}

.borderit:hover img{
border: 2px solid #7FBD25;
}

.borderit:hover{
color: red; /* irrelevant definition to overcome IE bug */
}

 /* Listas */
    ul.listavertical {width:100%;}
    ul.listavertical li {list-style:square inside;padding-bottom:5px;display:block;clear:both;}
    ul.listavertical li.ultimo {padding-bottom:0;border:0;}

    ul.listahorizontal li {display:block;float:left;padding-right:5px;margin-right:5px;}
    ul.listahorizontal li a {text-decoration:underline;}
    ul.listahorizontal li.separadormm {position:relative;font-size:13px;top:-2px;}
    ul.listahorizontal li.ultimo {margin-right:0;padding-right:0;border:0;}

    ul.listavertical a.novobotao, ul.listahorizontal a.novobotao {text-decoration:none;}
